@import "../../index.scss";

.navigation-container {
  width: 100%;
  height: 70px;
  @include boxShadow(0, 8px, 6px, -6px, $boxShadowBorderColor);
  @include flex(space-around);

  #logo-img {
    height: 60px;
    margin: 5px;
  }
  .nav-links-right-container {
    width: 50%;
    @include flex(flex-start, row, flex-end);

    .nav-link {
      @include margin(0px, 10px);
      @include padding(10px, 10px);
    }
  }

  .nav-links-left-container {
    .nav-link {
      @include margin(10px, 5px);
      @include padding(5px, 5px);
    }
  }
  .cart-container {
    height: 40px;
    background-color: $grey;
    margin-top: 10px;
    @include flex(space-around, row);

    .cart-icon {
      fill: $reddish-pink;
      padding: 6px;
    }
    .cart-count {
      padding: 8px;
    }
  }

  @include media(600px) {
    .nav-links-right-container,
    .nav-links-left-container .nav-link {
      display: none;
    }
    .cart-container {
      height: 70px;
      margin-top: 0px;

      .cart-icon {
        padding: 15px;
      }
      .cart-count {
        padding: 20px;
      }
    }
  }
}
