
// border colors
$boxShadowBorderColor:#666666;


//Gray Scale colors
$black:#000000;
$light-black:#282C35;
$white:#ffffff;
$light-grey:rgb(215, 215, 215);
$grey:rgba(207, 207, 207);
$dark-grey:rgb(167, 167, 167);
$silver:rgb(94, 94, 94);



// Primary colors
$reddish-pink:rgb(206, 7, 90);
$light-blue:rgb(21, 221, 232)

