
// border colors
$boxShadowBorderColor:#666666;


//Gray Scale colors
$black:#000000;
$white:#ffffff;
$grey:rgba(147, 147, 147, 0.756);
$dark-grey:grey;


// Primary colors
$reddish-pink:rgb(206, 7, 90);