@mixin margin($margin-top-bottom, $margin-left-right) {
  margin: $margin-top-bottom $margin-left-right;
}

@mixin padding($padding-top-bottom, $padding-left-right) {
  padding: $padding-top-bottom $padding-left-right;
}

@mixin flex($content: center, $direction: row, $align: stretch) {
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
  align-items: $align;
}

@mixin media($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin media-between($width, $maxwidth) {
  @media (min-width: $width) and (max-width: $maxwidth) {
    @content;
  }
}
